.App {
  background: #f9f9f9;
}

.App-Wrapper {
  max-width: 375px;
  margin: 0 auto;
  background: #fff;
  min-height: 700px;
}
/* John CSS */
.search-wrapper {
    background-color: #f9f9f9;
        padding: 0px 20px 20px;
    box-shadow: 0px 4px 4px -2px #e4e4e4;
}
.inputgroup {
    position: relative;
}
.inputgroup span {
    position: relative;
    top: 25px;
        color: #2379ea;
}
.search-wrapper input {
    display: block;
    width: 90%;
    border: none;
        padding: 10px 0px 15px 30px;
    background: transparent;
    border-bottom: 1px solid #e2e2e2;
}
